_documents
_private
_downloads
logs

__pycache__
models/_transformers
models/all-MiniLM-L12-v2
api.py
*.pkl
.venv
_venv
venv

# Jupyter Notebook
.ipynb_checkpoints

# Builds
build/
dist/
downloads/


